#RENAME THIS FILE TO .env
NETDATA_SERVER="http://127.0.0.1:3013"

# #LIVE
# ENV = "LIVE" #BETA or DEV
# NODE_WS_URL = "ws://127.0.0.1:7078"
# NODE_RPC_URL = "http://127.0.0.1:7076"
# #NODE_RPC_USER = "optional_basic_auth_user"
# #NODE_RPC_PW = "optional_basic_auth_pw"
# NODE_ACCOUNT = "nano_YOUR_NANO_ADDRESS"

#BETA working example using http:/bnano.info
ENV = "BETA" #BETA or DEV
NODE_WS_URL = 'wss://nanolooker.bnano.info/ws'
NODE_RPC_URL = 'https://rpcproxy.bnano.info/proxy'
NODE_ACCOUNT = "nano_18cgy87ikc4ruyh5aqwqe6dybe9os1ip3681y9wukypz5j7kgh35uxftss1x"
